% last_color = user.last_played
% moves = user.moves
% move_num = user.current_move_number
% game = user.game
% username = user.username
%
% idx = 2 * move_num
% if last_color == Color.White:
%     idx -= 1
% end
% if idx == len(moves):
<form autocomplete="off" method="POST" action="/make_move" class="col s12">
% else:
<form autocomplete="off" method="POST" action="/update_move" class="col s12">
% end
<div class="row">
    <div class="input-field col s4">
        % if idx == len(moves):
            <input type="text" id="move" name="move" class="autocomplete" required>
            <label for="move">Poteza</label>
        % else:
        %    move, notation_info, _, _ = moves[idx]
        %    notation = to_algebraic_notation(move, notation_info)
            <input type="text" id="move" name="move" value={{notation}} disabled>
            <label for="move" class="active">Poteza</label>
        % end
    </div>
    <div class="input_field col s5 push-s3">
        <label for="anno">Anotacija</label>
        <select id="anno" name="anno">
            % if idx == len(moves):
            %     anno = ''
            % else:
            %    anno = moves[idx][2]
            % end
            % if anno == '0':
                <option value="0" selected>Brez anotacije</option>
            % else:
                <option value="0">Brez anotacije</option>
            % end
            % if anno == '1':
                <option value="1" selected>Dobra poteza (!)</option>
            % else:
                <option value="1">Dobra poteza (!)</option>
            % end
            % if anno == '3':
                <option value="3" selected>Zelo dobra poteza (!!)</option>
            % else:
                <option value="3">Zelo dobra poteza (!!)</option>
            % end
            % if anno == '2':
                <option value="2" selected>Slaba poteza (?)</option>
            % else:
                <option value="2">Slaba poteza (?)</option>
            % end
            % if anno == '4':
                <option value="4" selected>Zelo slaba poteza (??)</option>
            % else:
                <option value="4">Zelo slaba poteza (??)</option>
            % end
            % if anno == '5':
                <option value="5" selected>Zanimiva poteza (!?)</option>
            % else:
                <option value="5">Zanimiva poteza (!?)</option>
            % end
            % if anno == '6':
                <option value="6" selected>Vprašljiva poteza (?!)</option>
            % else:
                <option value="6">Vprašljiva poteza (?!)</option>
            % end
        </select>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        % if idx == len(moves):
        %     text = ''
        % else:
        %     text = moves[idx][-1]
        % end
        <textarea id="text" name="text" class="materialize-textarea">{{text}}</textarea>
        <label for="text" class="">Mnenje</label>
    </div>
</div>
<div class="row">
    <div class="col s12">
    % if idx == len(moves):
        <input type="submit" class="btn" value="Pošlji">
    % else:
        <input type="submit" class="btn" value="Posodobi">
    % end
    </div>
</div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selects = document.querySelectorAll('select');
        M.FormSelect.init(selects);

        let moves = {
            % for move in user.game.all_legal_moves(other_color(user.last_played)):
            '{{to_algebraic_notation(*move)}}': null,
            % end
        };
        var elem = document.getElementById('move');
        var instances = M.Autocomplete.init(elem, {data: moves});
    });
</script>