<div id="chessboard">
% board = user.game.board()
% for i, row in enumerate(reversed(board)):
%   color = 'white_square' if i % 2 == 0 else 'black_square'
%   for j, cell in enumerate(row):
%     if cell is not None:
    <div class={{color}}>
        <div class="chess_piece">{{cell.as_piece()}}</div>
    </div>
%     else:
    <div class={{color}}>
        <div class="chess_piece">&nbsp</div>
    </div>
%     end
%     if color == 'white_square':
%       color = 'black_square'
%     else:
%       color = 'white_square'
%     end
%   end
% end
</div>

<script>
    window.fitText(document.getElementsByClassName('white_square'), 0.125);
    window.fitText(document.getElementsByClassName('black_square'), 0.125);
</script>