<div class="col s3">
    <form action="/new_position" method="POST">
        <input type="submit" class="btn" value="Nova pozicija">
    </form>
</div>
<div class="col s3 offset-s4">
<button data-target="save" class="btn modal-trigger">Shrani poteze</button>
</div>
<div class="col s2">
<button data-target="export" class="btn modal-trigger">Izvozi PGN</button>
</div>

<div id="save" class="modal">
    <div class="modal-content">
        <h4>Shrani poteze</h4>
        <form class="col s12" method="POST" action="/save_moves">
            <div class="row">
                <div class="input-field col s12">
                    <select id="result" name="result">
                        <option value="*" {{'selected' if result is None else ''}} >Neznan</option>
                        <option value="1-0" {{'selected' if result == GameState.White else ''}}>Beli zmaga</option>
                        <option value="1/2-1/2" {{'selected' if result == GameState.Draw else ''}}>Neodločen</option>
                        <option value="0-1" {{'selected' if result == GameState.Black else ''}}>Črni zmaga</option>
                    </select>
                    <label for="result">Rezultat</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="filename" name="filename" value="{{user.curr_file}}" required>
                    <label for="filename">Ime datoteke</label>
                    <span class="helper-text">Ime bo morda spremenjeno, da se lahko varno shrani na disk</span>
                </div>
            </div>
            <div class="row right">
                <label>
                    <input type="checkbox" name="overwrite" checked="checked">
                    <span>Povozi datoteke z istim imenom?</span>
                </label>
            </div>
            <div class="row">
                <div class="col s10">
                    <button class="btn" type="submit">Shrani poteze</button>
                </div>
                <div class="col s2">
                    <button class="btn modal-close" type="button">Zapri</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="export" class="modal">
    <div class="modal-content">
        <h4>Izvozi PGN</h4>
        <form class="col s12" method="POST" action="/export_pgn">
            <div class="row">
            <div class="input-field col s12">
                <select id="result" name="result">
                    <option value="*" {{'selected' if result is None else ''}} >Neznan</option>
                    <option value="1-0" {{'selected' if result == GameState.White else ''}}>Beli zmaga</option>
                    <option value="1/2-1/2" {{'selected' if result == GameState.Draw else ''}}>Neodločen</option>
                    <option value="0-1" {{'selected' if result == GameState.Black else ''}}>Črni zmaga</option>
                </select>
                <label for="result">Rezultat</label>
            </div>
            <div class="input-field col s12">
                <input id="event" name="event" type="text" required>
                <label for="event">Dogodek</label>
            </div>
            <div class="input-field col s4">
                <input id="city" name="city" type="text" required>
                <label for="city">Mesto</label>
            </div>
            <div class="input-field col s4">
                <input id="region" name="region" type="text" required>
                <label for="region">Regija</label>
            </div>
            <div class="input-field col s4">
                <input id="country" name="country" type="text" class="autocomplete" required>
                <label for="country">Država</label>
            </div>
            <div class="input-field col s12">
                <input id="date" name="date" type="text" class="datepicker" required>
                <label for="date">Datum</label>
            </div>
            <div class="input-field col s12">
                <input id="event_round" name="event_round" type="text" required>
                <label for="event_round">Runda</label>
            </div>
            <div class="input-field col s6">
                <input id="white_name" name="white_name" type="text" placeholder="Ime" required>
                <label for="white_name">Beli</label>
            </div>
            <div class="input-field col s6">
                <input id="white_surname" name="white_surname" type="text" placeholder="Priimek" required>
            </div>
            <div class="input-field col s6">
                <input id="black_name" name="black_name" type="text" placeholder="Ime" required>
                <label for="black_name">Črni</label>
            </div>
            <div class="input-field col s6">
                <input id="black_surname" name="black_surname" type="text" placeholder="Priimek" required>
            </div>
            </div>
            <div class="row">
                <div class="col s10">
                    <button class="btn" type="submit">Izvozi PGN</button>
                </div>
                <div class="col s2">
                    <button class="btn modal-close" type="button">Zapri</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selects = document.querySelectorAll('select');
        M.FormSelect.init(selects);

        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);

        var elems = document.querySelectorAll('.datepicker');
        M.Datepicker.init(
            elems,
            {format: 'yyyy.mm.dd', container: document.body, yearRange: [1800, (new Date()).getFullYear()]}
        );
        let countries = {
            'Afganistan': null,
            'Albanija': null,
            'Alžirija': null,
            'Andora': null,
            'Angola': null,
            'Antigva in Barbuda': null,
            'Argentina': null,
            'Armenija': null,
            'Aruba': null,
            'Ameriška Samoa': null,
            'Avstralija': null,
            'Avstrija': null,
            'Azerbajdžan': null,
            'Bahami': null,
            'Bangladeš': null,
            'Barbados': null,
            'Burundi': null,
            'Belgija': null,
            'Benin': null,
            'Bermuda': null,
            'Butan': null,
            'Bosna in Hercegovina': null,
            'Belize': null,
            'Belorusija': null,
            'Bolivija': null,
            'Bocvana': null,
            'Brazilija': null,
            'Bahrajn': null,
            'Brunei': null,
            'Bulgarija': null,
            'Burkina Faso': null,
            'Srednjeafriška republika': null,
            'Kambodija': null,
            'Kanada': null,
            'Kajmanski otoki': null,
            'Zahodni Kongo': null,
            'Čad': null,
            'Čile': null,
            'Kitajska': null,
            'Slonokoščena obala': null,
            'Kamerun': null,
            'Demokratična republika Kongo': null,
            'Cookovi otoki': null,
            'Kolumbija': null,
            'Komori': null,
            'Zelenortski otoki': null,
            'Kostarika': null,
            'Hrvaška': null,
            'Kuba': null,
            'Ciper': null,
            'Češka': null,
            'Danska': null,
            'Džibuti': null,
            'Dominika': null,
            'Dominikanska republika': null,
            'Ekvador': null,
            'Egipt': null,
            'Eritreja': null,
            'Republika Salvador': null,
            'Španija': null,
            'Estonija': null,
            'Etiopija': null,
            'Fidži': null,
            'Finska': null,
            'Francija': null,
            'Federativne države Mikronezije': null,
            'Gabon': null,
            'Gambija': null,
            'Združeno kraljestvo Velike Britanije in Irske': null,
            'Gvineja Bissau': null,
            'Gruzija': null,
            'Ekvatorialna Gvineja': null,
            'Nemčija': null,
            'Gana': null,
            'Grčija': null,
            'Grenada': null,
            'Gvatemala': null,
            'Gvineja': null,
            'Gvam': null,
            'Gvajana': null,
            'Haiti': null,
            'Hong Kong': null,
            'Honduras': null,
            'Madžarska': null,
            'Indonezija': null,
            'Indija': null,
            'Iran': null,
            'Irska': null,
            'Irak': null,
            'Islandija': null,
            'Izrael': null,
            'Ameriški Deviški otoki': null,
            'Italija': null,
            'Britanski Deviški otoki': null,
            'Jamajka': null,
            'Jordanija': null,
            'Japonska': null,
            'Kazahstan': null,
            'Kenija': null,
            'Kirgizistan': null,
            'Kiribati': null,
            'Južna Koreja': null,
            'Kosovo': null,
            'Saudova Arabija': null,
            'Kuvajt': null,
            'Laos': null,
            'Latvija': null,
            'Libija': null,
            'Lebanon': null,
            'Liberija': null,
            'Saint Lucia': null,
            'Lesoto': null,
            'Lihtenštajn': null,
            'Litva': null,
            'Luksemburg': null,
            'Madagaskar': null,
            'Moroko': null,
            'Malezija': null,
            'Malavi': null,
            'Moldova': null,
            'Maldivi': null,
            'Mehika': null,
            'Mongolija': null,
            'Marshallovi otoki': null,
            'Severna Makedonija': null,
            'Mali': null,
            'Malta': null,
            'Črna Gora': null,
            'Monako': null,
            'Mozambik': null,
            'Mavricij': null,
            'Mavretanija': null,
            'Mjanmar': null,
            'Namibija': null,
            'Nikaragva': null,
            'Nizozemska': null,
            'Nepal': null,
            'Nigerija': null,
            'Niger': null,
            'Norveška': null,
            'Nauru': null,
            'Nova Zelandija': null,
            'Oman': null,
            'Pakistan': null,
            'Panama': null,
            'Paragvaj': null,
            'Peru': null,
            'Filipini': null,
            'Palestina': null,
            'Palau': null,
            'Papua Nova Gvineja': null,
            'Poljska': null,
            'Portugalska': null,
            'Severna Koreja': null,
            'Portoriko': null,
            'Katar': null,
            'Romunija':'ROU',
            'Republika Južna Afrika': null,
            'Rusija': null,
            'Ruanda': null,
            'Samoa': null,
            'Senegal': null,
            'Sejšeli': null,
            'Singapor': null,
            'Saint Kitts in Nevis': null,
            'Sierra Leone': null,
            'Slovenija': null,
            'San Marino': null,
            'Salomonovi otoki': null,
            'Somalija': null,
            'Srbija': null,
            'Šri Lanka': null,
            'Južni Sudan': null,
            'Sao Tome in Principe': null,
            'Sudan': null,
            'Švica': null,
            'Surinam': null,
            'Slovaška': null,
            'Švedska': null,
            'Esvatini': null,
            'Tanzanija': null,
            'Tonga': null,
            'Tajska': null,
            'Tadžikistan': null,
            'Turkmenistan': null,
            'Vzhodni Timor': null,
            'Togo': null,
            'Tajvan': null,
            'Trinidad in Tobago': null,
            'Tunizija': null,
            'Turčija': null,
            'Tuvalu': null,
            'Združeni Arabski Emirati': null,
            'Uganda': null,
            'Ukrajina': null,
            'Urugvaj': null,
            'Združene države Amerike': null,
            'Uzbekistan': null,
            'Vanuatu': null,
            'Venezuela': null,
            'Sveti Vincent in Grenadini': null,
            'Jemen': null,
            'Zambija': null,
            'Zimbabve': null,
            'Macao': null,
            'Ferski otoki': null,
            'Nizozemski Antili': null,
            'Avstralazija': null,
            'Bohemija': null,
            'Zahodna Nemčija': null,
            'Vzhodna Nemčija': null,
            'Rusko kraljestvo': null,
            'Srbija in Črna Gora': null,
            'Češkoslovaška': null,
            'Sovjetska Zveza': null,
            'Jugoslavija': null
        };
            var elems = document.querySelectorAll('.autocomplete');
            var instances = M.Autocomplete.init(elems, {data: countries});
    });
</script>