% rebase('base.html', login=True)

<div class="section">
<div class="row">
    <h4>Prijava</h4>
</div>
<div class="row">
    <form autocomplete="off" method="POST" action="/login" class="col s12">
        <div class="row">
        <div class="input-field col s6 offset-s2">
            <input type="text" id="login_username" name="login_username" required>
            <label for="login_username">Uporabniško ime</label>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s2">
                <input type="password" id="password" name="password" required>
                <label for="password">Geslo</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s2">
                <input type="submit" class="btn" value="Prijavi me!">
            </div>
        </div>
    </form>
</div>
</div>

<div class="divider">
</div>

<div class="section">
<div class="row">
    <h4>Registracija</h4>
</div>
<div class="row">
    <form autocomplete="off" method="POST" action="/register" class="col s12">
        <div class="row">
        <div class="input-field col s6 offset-s2">
            <input type="text" id="register_username" name="register_username" required>
            <label for="register_username">Uporabniško ime</label>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s2">
                <input type="password" id="password1" name="password1" required>
                <label for="password1">Geslo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s2">
                <input type="password" id="password2" name="password2" required>
                <label for="password2">Potrdi geslo</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s2">
                <input type="submit" class="btn" value="Registriraj me!">
            </div>
        </div>
    </form>
</div>
</div>