% moves = user.moves
% last_color = user.last_played
% move_num = user.current_move_number
<h5 class="center-align">Odigrane poteze</h5>

<div class="row" id="notation-box">
    <div id="white_col" class="col s6">
        <ol>
            % for idx, (move, notation_info, anno, text) in enumerate(moves):
            %     fig_notation = to_figurine_notation(move, notation_info, anno=anno)
            %     if move.color == Color.White:
            %         if last_color == Color.White and idx // 2 + 1 == move_num:
            <li style="background-color: yellow;">{{fig_notation}}</li>
            %         else:
            <li>{{fig_notation}}</li>
            %         end
            %     end
            % end
        </ol>
    </div>

    <div class="col s6" id="black_col">
        <ul>
            % for idx, (move, notation_info, anno, text) in enumerate(moves):
            %     fig_notation = to_figurine_notation(move, notation_info, anno=anno)
            %     if move.color == Color.Black:
            %         if last_color == Color.Black and idx // 2 + 1 == move_num:
            <li style="background-color: yellow;">{{fig_notation}}</li>
            %         else:
            <li>{{fig_notation}}</li>
            %         end
            %     end
            % end
            % if moves and moves[-1][0].color == Color.White:
            <li>&nbsp</li>
            % end
        </ul>
    </div>
</div>
<div class="center" >
    <form method="POST" class="col s12">
        <div class="row">
            % if len(moves) == 0:
                <input type="submit" class="btn" formaction="/remove_from_now" value="Odstrani od trenutne poteze" disabled>
            % else:
                <input type="submit" class="btn" formaction="/remove_from_now" value="Odstrani od trenutne poteze">
            % end
        </div>
        <div class="row">
            % if move_num == 0:
                <button class="btn" type="submit" formaction="/to_first" disabled>
                    <i class="material-icons">first_page</i>
                </button>
                <button class="btn" type="submit" formaction="/previous_move" disabled>
                    <i class="material-icons">navigate_before</i>
                </button>
            % else:
                <button class="btn" type="submit" formaction="/to_first">
                    <i class="material-icons">first_page</i>
                </button>
                <button class="btn" type="submit" formaction="/previous_move">
                    <i class="material-icons">navigate_before</i>
                </button>
            % end
            % pos = 2 * move_num
            % if last_color == Color.White:
            %     pos -= 1
            % end
            % if pos == len(moves):
                <button class="btn" type="submit" formaction="/next_move" disabled>
                    <i class="material-icons">navigate_next</i>
                </button>
                <button class="btn" type="submit" formaction="/to_last" disabled>
                    <i class="material-icons">last_page</i>
                </button>
            % else:
                <button class="btn" type="submit" formaction="/next_move">
                    <i class="material-icons">navigate_next</i>
                </button>
                <button class="btn" type="submit" formaction="/to_last">
                    <i class="material-icons">last_page</i>
                </button>
            % end
        </div>
    </form>
</div>