#notation-box {
    border: 2px solid;
    overflow-y: scroll;
    max-height: max(20vw, 30vh);
}

#notation {
    padding-left: 2%;
}

#save {
    overflow: visible;
}

#white_col {
    border-right: 1px solid;
}

#black_col {
    background-color: rgb(255, 217, 166);
    padding-left: 2.5rem;
}

#chessboard {
    width: 100%;
    height: auto;
    display: inline-block;
    border: 1px solid;
}
.black_square {
    position: relative;
    float: left;
    width: 12.5%;
    background-color: rgb(255, 217, 166);
    text-align: center;
}
.white_square {
    position: relative;
    float: left;
    width: 12.5%;
    background-color: white;
    text-align: center;
}
.black_square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.white_square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.chess_piece {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game_name {
    font-size: 130%;
}